<mat-toolbar color="primary">
  <button mat-button routerLink="">
    <mat-icon>fact_check</mat-icon>
    <span class="app-logo">My application</span>
  </button>
  <span class="menu-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/posts">All posts</button>
    <button mat-menu-item>New post</button>
    <button mat-menu-item routerLink="form">login</button>
    <button mat-menu-item routerLink="form">logout</button>
  </mat-menu>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>